
.mensajes{
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
li{
    border: 1px solid black;
    margin-top: 1%;
    border-radius: 5px;
    width: 100%;
}

.myMessage{
    width:80%;
    margin-left: 20%;
    border-radius: 5px;
    background-color: yellow;
    padding-right: 2px;
}

.otherMessage{
    border-radius: 5px;
    width:80%;
    align-items: center;
    background-color: rgb(16, 245, 245);
    padding-right: 2px;
}
